body.dark-mode .svg-fill{
  fill:#23ad51;
}

body.dark-mode,
body.dark-mode .section{
    background: rgb(45, 45, 45);
    color: #f5f5f5;
}

body.dark-mode .nav{
  background: rgb(45, 45, 45);
}

body.dark-mode .title{
  color: #f5f5f5;
}

body.dark-mode .is-small{
  color:#23ad51;
}

body.dark-mode .button{
  background-color: rgb(45, 45, 45);
  color:#23ad51;
}

body.dark-mode .button.is-link {
  color: #23ad51;
}


body.dark-mode .content a:not(.button){
  color: #23ad51;
  font-weight: bold;
}

/*body.dark-mode a:hover{
  color:#23ad51
}*/



body.dark-mode .title a {
  color: #f5f5f5;
}

body.dark-mode .subtitle.is-6 a{
  background-color: darkgray;
  color:#3068e8;
}

body.dark-mode .subtitle.is-6 a:hover{
  background-color: #23ad51;
  text-decoration: none !important;
  color: white;
  border-bottom: 0;
}

body.dark-mode .nav-active{
  text-decoration-color: #f5f5f5;
}


body.dark-mode .nav-item a.is-active,
body.dark-mode .nav-item a:hover,
body.dark-mode a.nav-item.is-active,
body.dark-mode a.nav-item:hover {
  color: #23ad51;
}



body.dark-mode .pagination a {
  color:#23ad51;
}

body.dark-mode .pagination a:hover {
  color:#3068e8;
}

body.dark-mode .pagination{
  color:#f5f5f5;
}

body.dark-mode .pagination-item{
  background-color:#23ad51;
  color: #f5f5f5
}

body.dark-mode .pagination-item a {
  color: #f5f5f5
}

body.dark-mode .pagination-item a:hover {
  color: #f5f5f5
}


body.dark-mode .icon{
  stroke: #f5f5f5;
}


body.dark-mode .level-item {
  stroke: #f5f5f5;
}

body.dark-mode .related a:not(.button){
  color:#23ad51;
}


body.dark-mode strong,
body.dark-mode table th {
  color: #3068e8;
}

body.dark-mode .button.is-active,
body.dark-mode .button:focus,
body.dark-mode .button:hover {
  color: #3068e8;
}

body.dark-mode .button.is-link:hover {
  background-color: none;
  color: #3068e8;
}

body.dark-mode .content a:not(.button):hover {
  color: #3068e8;
}

body.dark-mode .input,
body.dark-mode .textarea {
  color: #3068e8;
}


body.dark-mode .title strong {
  color: #f5f5f5;
}

body.dark-mode .subtitle strong {
  color: #f5f5f5;
}

body.dark-mode .title.is-4 a:hover{
  color: red;
}

body.dark-mode .subtitle.tags,
body.dark-mode .subtitle.date {
  color:#f5f5f5;
}

body.dark-mode .content h1,
body.dark-mode .content h2,
body.dark-mode .content h3,
body.dark-mode .content h4,
body.dark-mode .content h5,
body.dark-mode .content h6{
  color: #f5f5f5
}

body.dark-mode .nav-item a,
body.dark-mode  a.nav-item {
  color: #f5f5f5;
/*  transition: all 500ms;
  font-size: 5px;*/
}


#mysearchbox {
/*    visibility: hidden;*/

    display: inline-block;
    width: 100%;
    margin: 0 10px 0 0;
    padding: 0;
  }


#mysearchbox input {
  padding: 4px;
  width: 100%;
  height:40px;
  font-size: 1.2em;
  color: #3068e8;
  font-weight: bold;
  border-radius: 7px;
  border: 1.5px solid gray;
  outline: none;
  text-align: left;
  display: inline-block;
}

body.dark-mode #mysearchbox textarea {
  background-color : red; 
}

body.dark-mode #mysearchbox input {
  padding: 4px;
  width: 100%;
  height:40px;
  font-size: 1.2em;
  color: #23ad51;
  font-weight: bold;
  border-radius: 7px;
  border: 1.5px solid gray;
  outline: none;
  text-align: left;
  display: inline-block;
}


#mysearchResults li {
  list-style: none;
  margin-left: 0em;
  background-color: none;
  text-align: left;
  border:2px solid #F6F6F2;
}

body.dark-mode #mysearchResults li {
  background-color: rgb(45, 45, 45);
}

#mysearchResults li .title {
  font-size: 1.1em;
  margin: 0;
  display: inline-block;

}

#mysearchResults {
  visibility: inherit;
  display: inline-block;
  width: 100%;
  margin: 0;
  max-height: 100vh;/*calc(100vh - 120px);*/
  overflow: hidden;

}

#mysearchResults a {
  text-decoration: none !important;
  padding: 10px;
  display: inline-block;
  width: 100%;
  color: rgb(45, 45, 45);
  font-weight: bold;
}

body.dark-mode #mysearchResults a {
  color: #f5f5f5;
}

#mysearchResults a:hover, #searchResults a:focus {
  outline: 0;
  background-color: #F6F6F2;
  color: #23ad51;
}

body.dark-mode #mysearchResults a:hover, 
body.dark-mode #searchResults a:focus {
  outline: 0;
  background-color: rgb(80, 80, 80);
  color: #3068e8;
}

#mysearch-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
}

@media (max-width:683px) {
  #mysearchbox, #mysearch-btn {
    top: 64px;
  }
}

body.dark-mode .mymark{
  color:#23ad51
}

body.dark-mode .widget_blog_subscription{
  background-color: darkgray;
}



.widget_blog_subscription {
  display: block;
  margin: 20px auto;
  width: 50%;
  max-width: 480px;
  min-width: 320px;
  position: relative;
  overflow: hidden;
  background-color: #F6F6F2;
  border-radius: 8px;
}


.widget_blog_subscription p {
  margin: 0;
  text-align: center;
}

.widget_blog_subscription p:first-child {
  margin: 20px 0px 0;
  text-align: center;
  letter-spacing: 1px;
}

.widget_blog_subscription input[type="text"] {
  margin: 20px 30px;
  padding: 10px 10px !important;
  text-align: center;
  width: 100% !important;
  max-width: calc(100% - 90px);
  outline: none;
  border: 0;
  text-align: left;
  border-radius: 8px;
  font-size: 12px;
}

.widget_blog_subscription input[type="text"]::-webkit-input-placeholder {
  color: lightgray;
}
.widget_blog_subscription input[type="text"]:-moz-placeholder {
  color: lightgray;
}
.widget_blog_subscription input[type="text"]::-moz-placeholder {
  color: lightgray;
}

.widget_blog_subscription input[type="text"]:-ms-input-placeholder {
  color: lightgray;
}

body.dark-mode .widget_blog_subscription input[type="submit"] {
  background-color: #23ad51;
}

.widget_blog_subscription input[type="submit"] {
  border-radius: 8px;
  margin: 0 0 20px 0;
  background-color: #3068e8;
  color: #fff;
  padding: 5px 5px !important;
  text-align: center;
  width: 30%;
  max-width: 100%;
  outline: none;
  border: 0;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: .1s all ease-in-out;
  -moz-transition: .1s all ease-in-out;
  -o-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
}
.widget_blog_subscription input[type="submit"]:hover {
  background-color: #23ad51;
}

body.dark-mode .widget_blog_subscription input[type="submit"]:hover {
  background-color: #3068e8;
}





/*#######################################*/



.widget_blog_subscription_header {
  display: block;
  margin: 50px auto;
  width: 60%;
  max-width: 490px;
  min-width: 320px;
  position: relative;
  overflow: hidden;
  background-color: #F6F6F2;
  border-radius: 5px;
  padding: 50px;
  background-color: #fff;
  background-size: 100% 1em;
  background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.05) 79px, #abced4 79px, #abced4 81px, rgba(0, 0, 0, 0.03) 81px),
                  -webkit-linear-gradient(#eee .05em, transparent .05em);
  background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.05) 79px, #abced4 79px, #abced4 81px, rgba(0, 0, 0, 0.03) 81px),
                  -moz-linear-gradient(#eee .05em, transparent .05em);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 79px, #83B3DB 79px, #83B3DB 81px, rgba(0, 0, 0, 0.03) 81px),
                  linear-gradient(#eee .05em, transparent .05em);
}
.widget_blog_subscription_header p {
  margin: 0;
  text-align: center;
}
.widget_blog_subscription_header p:first-child {
  margin: 0 0 30px;
  color: #83B3DB;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
}
.widget_blog_subscription_header p:nth-child(2) {
  width: 65%;
  float: left;
}
.widget_blog_subscription_header p:nth-child(3) {
  width: 35%;
  float: left;
}
.widget_blog_subscription_header input[type="text"] {
  margin: 0;
  color: #999;
  padding: 15px !important;
  text-align: left;
  width: 100% !important;
  outline: none;
  border: 0;
  font-size: 14px;
  background-color: #fff;
}
.widget_blog_subscription_header input[type="text"]::-webkit-input-placeholder {
  color: #d0d0d0;
}
.widget_blog_subscription_header input[type="text"]:-moz-placeholder {
  color: #d0d0d0;
}
.widget_blog_subscription_header input[type="text"]::-moz-placeholder {
  color: #d0d0d0;
}
.widget_blog_subscription_header input[type="text"]:-ms-input-placeholder {
  color: #d0d0d0;
}
.widget_blog_subscription_header input[type="submit"] {
  margin: 0;
  background-color: #83B3DB;
  color: #fff;
  padding: 16px !important;
  text-align: center;
  width: 100%;
  outline: none;
  border: 0;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  -webkit-transition: .1s all ease-in-out;
  -moz-transition: .1s all ease-in-out;
  -o-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
}
.widget_blog_subscription_header input[type="submit"]:hover {
  background-color: #F29B91;
  box-shadow: 0px 0px 0px 5px #F29B91;
}