#mysearchbox {
/*    visibility: hidden;*/

    display: inline-block;
    width: 320px;
    margin: 0 10px 0 0;
    padding: 0;
  }

  #mysearchbox input {
    padding: 4px;
    width: 100%;
    height:40px;
    font-size: 1.2em;
    color: #3038d9;
    font-weight: bold;
    border-radius: 7px;
    border: 1.5px solid gray;
    outline: none;
    text-align: left;
    display: inline-block;
  }


#mysearchResults li {
  list-style: none;
  margin-left: 0em;
  background-color: none;
  text-align: left;
  border:2px solid #f2f2f0;
}

#mysearchResults li .title {
  font-size: 1.1em;
  margin: 0;
  display: inline-block;

}

#mysearchResults {
  visibility: inherit;
  display: inline-block;
  width: 320px;
  margin: 0;
  max-height: calc(100vh - 120px);
  overflow: hidden;

}

#mysearchResults a {
  text-decoration: none !important;
  padding: 10px;
  display: inline-block;
  width: 100%;
  color: #3038d9;
  font-weight: bold;
}

#mysearchResults a:hover, #searchResults a:focus {
  outline: 0;
  background-color: #f2f2f0;
  color: #23ad51;
}

#mysearch-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
}

@media (max-width:683px) {
  #mysearchbox, #mysearch-btn {
    top: 64px;
  }
}