<style type="text/css">

#sortbtn{
	background-color: #F3F3F3;
	padding: 20px;
	margin-left: 50px;
	margin-top: -2em;
}

#sortbtn div.a{
	background-color: #3068e8;
}

</style>

{{ partial "header" . }}
{{ partial "nav" . }}

<section class="section" style="margin-bottom: -3em; margin-top: -3em">
	<div class="container">
		<!-- <hr style="margin-top: -2em;margin-bottom: 2em"> -->
		<h1 class= "title is-3"><svg class="svg-fill" style="margin-bottom: -2px" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M24 23h-24v-13.275l2-1.455v-7.27h20v7.272l2 1.453v13.275zm-20-10.472v-9.528h16v9.527l-8 5.473-8-5.472zm14-.528h-12v-1h12v1zm0-3v1h-12v-1h12zm-7-1h-5v-3h5v3zm7 0h-6v-1h6v1zm0-2h-6v-1h6v1z"/></svg> Newsletter</h1>
		<p style="font-size: 17px">I run my blog <sup><a href="https://github.com/yizenglistat/blogsource">[source]</a></sup> whenever I get idle time from research. The goal is to have fun and summarize interesting methodologies along reading/learning up-to-date research in statistics, machine learning and deep learning. </p> 
		{{partial "subscribe.html" .}}
		<div class="fade_rule" style="margin-top: 4.5em;marg"></div>
	</div>
</section>

<section class="section" style="margin-top: 0em">
	<div class="container" style="display: flex;justify-content: center; max-width: text-width;">
	<h1 class= "title is-3" style="margin-bottom: 0.5em">
	<svg class="svg-fill" style="margin-bottom: -3px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M22 2v20h-20v-20h20zm2-2h-24v24h24v-24zm-4 7h-8v1h8v-1zm0 5h-8v1h8v-1zm0 5h-8v1h8v-1zm-10.516-11.304l-.71-.696-2.553 2.607-1.539-1.452-.698.71 2.25 2.135 3.25-3.304zm0 5l-.71-.696-2.552 2.607-1.539-1.452-.698.709 2.249 2.136 3.25-3.304zm0 5l-.71-.696-2.552 2.607-1.539-1.452-.698.709 2.249 2.136 3.25-3.304z"/></svg>
	Upcoming</h1>
	</div>	
</section>

{{partial "todolist.html" .}}

{{ partial "footer" . }}