{{ partial "header" . }}
{{ partial "nav" . }}

<section class="section" style="margin-bottom: -3em; margin-top: -3em">
	<div class="container">
		<hr style="margin-top: -2em;margin-bottom: 2em">
		<h1 class= "title is-3">📬 Newsletter</h1>
		<p style="font-size: 17px">Subscribe and receive monthly update!</p> 
		{{partial "subscribe.html" .}}
		<hr style="margin-top: 4em">
	</div>
</section>

<section class="section" style="margin-top: -3em">
	<div class="container" style="display: flex;flex-direction: row; justify-content: space-between;">
		<div class="flex-left">
			<h1 class= "title is-3">💥 New</h1>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
   		<div class="flex-right">
   			<h1 class= "title is-3">🔥 Top</h1>
   			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
   		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
   		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
   		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
   		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
	</div>
</section>


{{ partial "footer" . }}