{{ partial "header" . }}
{{ partial "nav" . }}

<section class="section">

<div id = searchbox>
	<form>
    	<input type="search" name='s' autofocus aria-label="search" id="searchInput" placeholder="search here">
	</form>
	<ul id="searchResults" aria-label="search results"></ul>
</div>


<script id="search-result-template" type="text/x-js-template">

<div style="text-align:center">

	<div id="summary-${key}">
		<a href="${link}">${title}</a>
	</div>

</div>

</script>

</section>

{{ partial "footer" . }}