{{ partial "header" . }}
{{ partial "nav" . }}

<section class="section" style="text-align: center">

<div id = mysearchbox>
	<form>
    	<input type="search" name='s' tabindex="0" aria-label="search" id="searchInput" placeholder="search">
	</form>
	<ul id="mysearchResults" aria-label="search results"></ul>
</div>

<script id="search-result-template" type="text/x-js-template">
	<li id="summary-${key}" style="display: block">
		<a href="${link}">
			${title}
		</a>
	</li>
</script>

</section>

{{ partial "footer" . }}