{{ partial "header" . }}
{{ partial "nav" . }}



<section class="section" style="text-align: center;margin-top: -3em">
<div class="container">

<div class="content" style="text-align: left">
Experimental search of all content on this site. Alternatively, navigate via <a style="font-weight: 500;" href="/tags">tags</a> or <a style="font-weight: 500" href="/categories">series</a>.
</div>

<div id = mysearchbox>
	<form>
    	<input type="search" name='s' tabindex="0" aria-label="search" id="searchInput" placeholder="☞ search ↵">
	</form>
	<ul id="mysearchResults" style="text-align: left" aria-label="search results"></ul>
</div>

<div id="notfound" style="display: none">
{{partial "notfound" .}}
</div>

</div>
</section>

{{partial "footer-extend" .}}

{{ partial "footer" . }}



<script type="text/javascript">
var searchQuery = param("s");
if(searchQuery){
	document.getElementById("searchTags").style.visibility = 'hidden';
	document.getElementById("searchSeries").style.visibility = 'hidden';
}
</script>

