{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    <hr style="margin-top: -5em; margin-bottom:2em">
<!--     {{ if and (.Site.Params.Info.adsense) (.Params.adsenseTop) }}
    {{ partial "adsense" . }}
    {{ end }} -->

    <h1 class="title" style="font-size: 24px;">{{ .Title }}</h1>
    <h2 class="subtitle tags is-6 ">
      {{ $date := .Date.Format "Jan 2, 2006" }}
      {{ $lastmod := .Lastmod.Format "Jan 2, 2006" }}
      {{if ne $date $lastmod}}
        Edited on {{ .Lastmod.Format "Jan 2, 2006" }}
      {{end}}
      ⏱ {{ math.Round (div (countwords .Content) 220.0) }} min
      <span class="icon is-small is-marginless">{{ partial "svg/icons" "tag" }}</span>
      {{ if .Params.tags }}
      {{ partial "tags" .Params.tags }}
      {{ end }}
      
      <div class="series">
      {{ if .Params.categories }}
      <span class="icon is-small is-marginless">{{ partial "svg/icons" "category" }}</span>
      {{ partial "categories" .Params.categories }}
      {{ end }}
      </div>

    </h2>
    
    
    
<!--     {{ if and (.Site.Params.Info.adsense) (.Params.adsenseTop) }}
    {{ partial "adsense" . }}
    {{ end }} -->


    <div class="content">
      {{ .Content }}

      {{ partial "prevnext.html" .}}

      {{ if .Site.Params.Info.related }}
      <div class="related">{{ partial "related" . }}</div>
      {{ end }}
    </div>

<!--     {{ if and (.Site.Params.Info.adsense)  (.Params.adsenseBottom) }}
    {{ partial "adsense" . }}
    {{ end}} -->

  </div>
</section>
{{ if (and (.Site.Params.Info.codeCopy) (findRE "<pre" .Content 1)) }}
    <script src="/js/copycode.js"></script>
{{ end }}
{{partial "subscribe" .}}
{{ partial "comment.html" . }}
{{partial "share" .}}
{{ partial "footer" . }}
