{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section" style="margin-top: -3em">
  <div class="container">
<!--     {{ if and (.Site.Params.Info.adsense) (.Params.adsenseTop) }}
    {{ partial "adsense" . }}
    {{ end }} -->

    <h1 class="title" style="font-size: 24px;">{{ .Title }}</h1>
    <h2 class="subtitle tags is-6 ">
      {{ $date := .Date.Format "Jan 2, 2006" }}
      {{ $lastmod := .Lastmod.Format "Jan 2, 2006" }}
      {{if ne $date $lastmod}}
        Edited on {{ .Lastmod.Format "Jan 2, 2006" }}
      {{end}}
      <svg xmlns="http://www.w3.org/2000/svg" class="svg-fill" style="margin-left: 2px;margin-right: 2px;margin-bottom: -2px" width="15" height="15" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm5.848 12.459c.202.038.202.333.001.372-1.907.361-6.045 1.111-6.547 1.111-.719 0-1.301-.582-1.301-1.301 0-.512.77-5.447 1.125-7.445.034-.192.312-.181.343.014l.985 6.238 5.394 1.011z"/></svg> {{ math.Round (div (countwords .Content) 220.0) }} min
      <span class="icon is-small is-marginless">{{ partial "svg/icons" "tag" }}</span>
      {{ if .Params.tags }}
      {{ partial "tags" .Params.tags }}
      {{ end }}
      
      <div class="series">
      {{ if .Params.categories }}
      <span class="icon is-small is-marginless">{{ partial "svg/icons" "category" }}</span>
      {{ partial "categories" .Params.categories }}
      {{ end }}
      </div>
      {{if .Params.code}}
        <span class="icon is-small is-marginless">{{ partial "svg/icons" "github" }}</span>
        <a class = "subtitle is-6" href= {{.Params.code}}>code</a>
        {{end}}
    </h2>
    
    
    
<!--     {{ if and (.Site.Params.Info.adsense) (.Params.adsenseTop) }}
    {{ partial "adsense" . }}
    {{ end }} -->


    <div class="content underlineLink">

      <div style="font-style: italic; opacity: 0.5;padding: 2em;margin-top: -1.5em">{{.Summary}}</div>

      {{replace .Content .Summary "" | emojify | safeHTML}}
      {{partial "share" .}}

      {{ if .Site.Params.Info.related }}
      <div class="related nounderlineLink">{{ partial "related" . }}</div>
      {{ end }}

      {{ partial "prevnext.html" .}}
    </div>

<!--     {{ if and (.Site.Params.Info.adsense)  (.Params.adsenseBottom) }}
    {{ partial "adsense" . }}
    {{ end}} -->

  </div>
</section>
{{ if (and (.Site.Params.Info.codeCopy) (findRE "<pre" .Content 1)) }}
    <script src="/js/copycode.js"></script>
{{ end }}
<section class="section" style="margin-top: -4.5em;margin-bottom: -4.5em">
  <div class="container">
    {{partial "subscribe" .}}
  </div>
</section>
{{ partial "comment.html" . }}
{{ partial "footer" . }}
