{{ partial "header" . }}
{{ partial "nav" . }}

<section class="section" style="margin-bottom: -3em; margin-top: -3em">
	<div class="container">
		<hr style="margin-top: -2em;margin-bottom: 2em">
		<h1 class= "title is-3">📬 Newsletter<h1>
		<p style="font-size: 17px">Thanks for the subscription and stay tuned!</p>
		<div class="messagealert">
			<strong >SUCCESS!</strong><br>
			<p style="margin-top: 2em">Yay! Everything worked perfect! Let's keep in touch.</p>
		</div>
	</div>
</section>


{{ partial "footer" . }}