{{ partial "header" . }}
{{ partial "nav" . }}

<section class="section" style="margin-bottom: 0em; margin-top: -3em">
	<div class="container">
		<h1 class= "title is-3"><svg class="svg-fill" style="margin-bottom: -1px;margin-right: 4px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 5.177l8.631 15.823h-17.262l8.631-15.823zm0-4.177l-12 22h24l-12-22zm-1 9h2v6h-2v-6zm1 9.75c-.689 0-1.25-.56-1.25-1.25s.561-1.25 1.25-1.25 1.25.56 1.25 1.25-.561 1.25-1.25 1.25z"/></svg>Warning<h1>
		<p style="font-size: 17px">Much appreciation for the confirmation and stay updated!</p>
		
    {{partial "warning.html" .}}

	</div>

</section>

<section class="section">
<div class="container">

{{partial "footer-extend" .}}

</div>  
</section>

{{ partial "footer" . }}