<style type="text/css">
#contBtn {
  top: 0em;
  font-size: 16px;
  text-decoration: none;
  background-color: #F3F3F3;
  color: #23ad51;
  padding: .5em 2px;
  border-radius: 10px;
  -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

a#contBtn:hover {
  -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
  background: #23ad51;
  color:#F3F3F3;
}

body.dark-mode #contBtn{
  background-color: #7D7C7C;
  color: #F3F3F3;
}

body.dark-mode a#contBtn:hover{
  background: #3068e8;
  color:#F3F3F3;
}

body.dark-mode #specialtitle{
  color:#F3F3F3;
}

</style>

{{ partial "header" . }}
{{ partial "nav" . }}

{{ $letters := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" }}

{{$label := ""}}








<section class="section" style="margin-top: -3em;">
  <div class="container">
  
    <div>

      <div style="display:flex;justify-content: space-between;margin-bottom:0em">

        {{if eq .Type "tags"}}
        <h1 class="subtitle is-3" id="specialtitle" style="font-size: 24px">
          {{$label = "Tags"}}
          <svg class = "svg-fill"style="margin-bottom: -5px;margin-right: -2px" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12.434 22.586l7.859-7.858.707.707-8.565 8.565-.001-.001v.001l-12.434-12.434.707-.707 11.727 11.727zm-.033-1.7l-12.401-12.405v-8.481h8.441l12.445 12.401-8.485 8.485zm-4.373-19.886h-7.028v7.067l11.401 11.405 7.07-7.07s-7.534-7.506-11.443-11.402zm-1.598 2.594c.78.78.78 2.048 0 2.828-.781.781-2.048.781-2.829 0-.78-.78-.78-2.048 0-2.828.781-.781 2.048-.781 2.829 0zm-.707.707c.39.39.39 1.024 0 1.414-.391.39-1.024.39-1.414 0-.391-.39-.391-1.024 0-1.414.39-.39 1.023-.39 1.414 0z"/></svg>  
        {{$label}}
        </h1>
        {{end}} 

        
        {{if eq .Type "categories"}}
            {{$label = "Series"}}
            <h1 class="subtitle is-3" id="specialtitle" style="font-size: 24px">
            <svg class="svg-fill" style="margin-bottom: -3px;margin-right: 0px;" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M0 2h8l3 3h10v4h3l-4 13h-20v-20zm22.646 8h-17.907l-3.385 11h17.907l3.385-11zm-2.646-1v-3h-9.414l-3-3h-6.586v15.75l3-9.75h16z"/></svg>
            {{$label}}
            </h1>
        {{end}}
      
      <a href="/" class="button" style="display:flex;margin:0;padding: 3px;font-size: 18px;">Home ↵ </a>
      
      </div>
    
    <h1 class="content">
      {{- $type := .Type }}
      
      {{- range $key, $value := .Data.Terms.Alphabetical }}
        
        {{- $name := .Name }}
        {{- $count := .Count }}
        
        {{- with $.Site.GetPage (printf "/%s/%s" $type $name) }}

            {{ $firstChar := substr .Name 0 1 | upper }}
            {{ if $firstChar | in $letters }}
                  <div style="display: flex;flex-direction: row;justify-content: space-between;">
                  <div style="display: inline-block;">
                  <a href={{.Permalink}}>{{ .Title }}</a>
                  </div>
                  <div style="display: flex;margin-left: auto;">
                  {{ $curLetter := $.Scratch.Get "curLetter" }}
                  {{ if ne $firstChar $curLetter }}
                        {{ $.Scratch.Set "curLetter" $firstChar }}
                        <h3 class="subtitle is-6">{{ $firstChar }}</h3>
                  {{ end }}
                  </div>
                  </div>
            {{ end }}
        {{ end }}
      {{ end }}
</h1>

</div>


    <div style="display: flex;margin-top:1em">
      
      <button onclick="topFunction()"  class="button" style="padding:0px;margin-left: auto;order: 2">⇪Top</button>
    </div>

</div>
</section>
<!-- {{ partial "pager" . }} -->
{{ partial "footer" . }}