<!-- <section id="comment-section" class="section footer-extends" style="margin-bottom: -5em;margin-top: 2em">
  <div id = "comment-light" class="container">
  	<hr style="margin-bottom: 1em;">
	<script src="https://utteranc.es/client.js"
        repo="yizenglistat/blog"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
	</script>
</div>
</section>

 -->
<section id="comment-section" class="section footer-extends" style="margin-bottom: -1em;margin-top: 2em">
  <div id = "comment-light" class="container">
  	<hr style="margin-bottom: 1em;">

<script>
	function loadComment() {
		
		if (document.body.classList.contains('dark-mode')){
			theme = 'photon-dark'
		}
		else{
			theme = 'github-light'
		}
	    
	    // let theme = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches ? 'github-dark' : 'github-light';
	    
	    let s = document.createElement('script');
	    s.src = 'https://utteranc.es/client.js';
	    s.setAttribute('repo', '{{- .Site.Params.comments.utterancesRepo -}}');
	    s.setAttribute('issue-term', '{{- .Site.Params.comments.utterancesIssueTerm | default "pathname" -}}');
	    s.setAttribute('theme', theme);
	    s.setAttribute('crossorigin', 'anonymous');
	    s.setAttribute('async', '');
	    document.querySelector('#comment-light').innerHTML = '';
	    document.querySelector('#comment-light').appendChild(s);
	}

	loadComment();
	// if (window.matchMedia)
	//     window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {loadComment();});
	
</script>

</div>	
</section>