<section class="section footer" style="margin-bottom: 7em;">
  <div class="container has-text-centered">

    <nav class="level is-mobile" id="pagerspecial" style="margin-top:-4em">
      
      <div class="level-left">
        <div class="level-item">
          {{ if .Paginator.HasPrev }}
          <a class="button" href="{{ .Paginator.Prev.URL }}" style="font-size: 15px;font-weight: bold">
            ◀ PREV
          </a>
          {{ else }}
          <a class="button" style="opacity: 0.1;font-size: 15px;font-weight: bold">
            ◀ PREV
          </a>
          {{ end }}
        </div>
      </div>
      

      <nav class="level is-mobile">
      <div class="level">
        <div class="level-item">
        {{ $paginator := .Paginator (where .Pages "Type" "posts") }}
        {{ if gt $paginator.TotalPages 1 }}
          <ul class="pagination" style="color: white;">
            
            {{ range $paginator.Pagers }}
            {{if eq . $paginator}}
            <li class="pagination-item" id="pager-item" style="color:white;">
              <a href="{{ .URL }}">
                {{ .PageNumber }}
              </a>
            </li>
            {{else}}
            <li class="pagination" style="color:white;">
              <a href="{{ .URL }}">
                {{ .PageNumber }}
              </a>
            </li>
            {{end}}
            
            {{ end }}
          
          </ul>
        {{ end }}
      </div>
      </div>
      </nav>

      <div class="level-right is-marginless">
        <div class="level-item">
          {{ if .Paginator.HasNext }}
          <a class="button" href="{{ .Paginator.Next.URL }}" style="font-size: 15px;font-weight: bold">
            NEXT ▶
          </a>
          {{else}}
          <a class="button" style="opacity: 0.1; font-size: 15px;font-weight: bold">
            NEXT ▶
          </a>
          {{ end }}
        </div>
      </div>
    </nav>

    <div class="fade_rule" style="margin-top:3em;margin-bottom: 1em"></div>
    <p>{{ .Site.Copyright | safeHTML }}</p>
    {{if .Site.Params.Info.poweredby}}
    {{- $social := ( .Site.Params.social ) -}}
  	
  	{{- range $platform := $social.config.platforms -}}
  	{{- with $username := ( index $social $platform ) -}}
    <a class="level-item" style="opacity: 0.8" aria-label="{{ $platform }}" href='{{ print ( index $.Site.Data.theme.social.base $platform ) $username }}'
            target='_blank' rel='noopener'>
            <span class="icon" style="padding-left: 8px;">
                {{- partial "svg/icons" $platform -}} 
            </span>
          </a>
    {{end}}
    {{end}}
    <p class="level-item" style="opacity: 0.6; padding-top:5px;font-size: 12px"> © Yizeng Li 2022 • Feedback • <a href="/index.xml" id="footerlink">RSS</a></p>
    <p class="level-item" style="text-align: center; opacity: 0.6; padding-top:0px;font-size: 12px">All Rights Reserved</p>
    {{ end }}
  </div>
</section>
{{ if .Site.GoogleAnalytics }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
{{ if .Site.Params.matomoAnalytics }}
{{- partial "analytics/matomo" . -}}
{{ end }}
{{ if .Site.Params.fathomAnalytics }}
{{- partial "analytics/fathom" . -}}
{{ end }}
{{ if .Site.Params.hotjarAnalytics}}
{{- partial "analytics/hotjar" . -}}
{{ end }}
{{ if .Site.Params.plausibleAnalytics}}
{{- partial "analytics/plausible" . -}}
{{ end }}
</body>
</html>