<section class="section footer">
  <div class="container has-text-centered">
    <hr style="margin-top: -2em;margin-bottom: 1em">
    <p>{{ .Site.Copyright | safeHTML }}</p>
    {{if .Site.Params.Info.poweredby}}
    {{- $social := ( .Site.Params.social ) -}}
  	
  	{{- range $platform := $social.config.platforms -}}
  	{{- with $username := ( index $social $platform ) -}}
    <a class="level-item" aria-label="{{ $platform }}" href='{{ print ( index $.Site.Data.theme.social.base $platform ) $username }}'
            target='_blank' rel='noopener'>
            <span class="icon" style="padding-left: 8px;">
                {{- partial "svg/icons" $platform -}} 
            </span>
          </a>
    {{end}}
    {{end}}
    <p class="level-item" style="padding-top:5px;font-size: 12px"> © YL 2016-2022 • Feedback • <a href="/index.xml" id="footerlink">RSS</a></p>
    {{ end }}
  </div>
</section>
{{ if .Site.GoogleAnalytics }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
{{ if .Site.Params.matomoAnalytics }}
{{- partial "analytics/matomo" . -}}
{{ end }}
{{ if .Site.Params.fathomAnalytics }}
{{- partial "analytics/fathom" . -}}
{{ end }}
{{ if .Site.Params.hotjarAnalytics}}
{{- partial "analytics/hotjar" . -}}
{{ end }}
{{ if .Site.Params.plausibleAnalytics}}
{{- partial "analytics/plausible" . -}}
{{ end }}
</body>
</html>