<section class="section" style="margin-bottom: -3em; margin-top: -3em">
	<div class="container">
		<hr style="margin-top: -2em;margin-bottom: 2em">
		<p style="font-size: 17px">👋 Hi there! I blog about statistics, machine learing and deep learning. Subscribe to the newsletter!</p> 
	  	
<!-- 	  	<div class="subscribeform">
	  		<form action="" style="text-align: center;">
	  			<p style="margin-bottom: 8px;">Join us getting updates!</p>
	    		<input style="border:0" type="email" name="email" class="subscribeinput" placeholder="example@domain.com"/>
	  		</form>
	  		<div style="text-align: center"><button style="border:0" class="subscribebutton">submit</button></div>
	  	</div> -->

	  	{{partial "subscribe" .}}

	  	<hr style="margin-bottom:-1em;margin-top:2em;">
	</div>
</section>