<section class="section">
  <div class="container">
    {{ $current := . }}
    <nav id="nav-main" class="nav">
      <div id="nav-name" class="nav-left">
        {{ range .Site.Menus.nav }}
          
          {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
          {{ $active = or $active (eq .Name $current.Title) }}
          {{ $active = or $active (and (eq .Name "Home") (or (eq $current.Section "") (eq $current.Section "post"))) }}
          {{ $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}
          
          {{ if $active}}
            <a id="nav-anchor" class="nav-item nav-active" href="{{ .URL }}"> 
            <h1 id="nav-heading" class="title is-4" style="font-weight: bold;font-size: 20px">{{ .Name }}</h1> 
          </a>
          {{ else }}
          <a id="nav-anchor" class="nav-item" href="{{ .URL }}"> 
            <h1 id="nav-heading" class="title is-4" >{{ .Name }}</h1> 
          </a>
          {{ end }}
        {{ end }}
      </div>
      

<!--       <div class="nav-right">
      <nav id="nav-items" class="nav-item level is-mobile">
      <form action="{{ "search" | absURL }}" method="GET" style="padding-top: 10px" >
            <input type="search" name="s" id="search-query" placeholder="Be my guest">
            <button type="submit">Search</button>
      </form>
      </nav>
      </div> -->






<!--       <div class="nav-right" >
        <nav id="nav-items" class="nav-item level is-mobile" >
          {{- $social := ( .Site.Params.social ) -}}
          {{- range $platform := $social.config.platforms -}}
          {{- with $username := ( index $social $platform ) -}}
          <a class="level-item" aria-label="{{ $platform }}" href='{{ print ( index $.Site.Data.theme.social.base $platform ) $username }}'
            target='_blank' rel='noopener'>
            <span class="icon">
                {{- partial "svg/icons" $platform -}}

            </span>
          </a>
          {{- end -}}
          {{- end -}}
        </nav>
      </div>
    </nav> -->



    <nav class="nav">
      {{ if (isset .Site.Params "sections_left" ) }}
      <div class="nav-left">
        {{- range $section, $printable := .Site.Params.sections_left -}}
        {{- if $printable -}}
        <a class="nav-item" href="{{$section}}">
          <h2 class="title is-5">{{$printable}}</h2>
        </a>
        {{- end -}}
        {{- end -}}
      </div>
      {{ end }}

      {{ if (isset .Site.Params "sections_right" ) }}
      <div class="nav-right">
        {{- range $section, $printable := .Site.Params.sections_right -}}
        {{- if $printable -}}
        <a class="nav-item" href="{{$section}}">
          <h2 class="title is-5">{{$printable}}</h2>
        </a>
        {{- end -}}
        {{- end -}}
      </div>
      {{ end }}
    </nav>
    


    <div class="nav-center">
      <div class="grad" style="width:80%;"></div>
    </div>
  </div>
  <script src="/js/navicon-shift.js"></script>
</section>