<section class="section" style="margin-bottom: -10px">
  <div class="container">
    {{ $current := . }}
    <nav id="nav-main" class="nav" style="margin-top: -3em">
      <div id="nav-name" class="nav-left">
        {{ range .Site.Menus.nav }}
          
          {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
          
          {{ $active = or $active (eq .Name $current.Title) }}
                    
          {{ $active = or $active (and (eq .Name "Writing")  (eq $current.Section "posts")) }}
          
          {{ $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}
          
          {{ $active = or $active (and (eq .Name "Series") (eq $current.Section "categories")) }}

          {{ $active = or $active (and (eq .Name "Search") (eq $current.Section "search")) }}

          {{ $active = or $active (and (eq .Name "Newsletter") (eq $current.Section "newsletter")) }}

          {{ $active = or $active (and (eq .Weight 1) (eq $current.RelPermalink "/")) }}



          {{ if $active}}
            <a id="nav-anchor" class="nav-item nav-active" href="{{ .URL }}"> 
            <h1 id="nav-heading" class="mytitle" style="font-weight: bold;">{{ .Name }}</h1> 
          </a>
          {{ else }}
          <a id="nav-anchor" class="nav-item" href="{{ .URL }}"> 
            <h1 id="nav-heading" class="mytitle" >{{ .Name }}</h1> 
          </a>
          {{ end }}
        {{ end }}
      </div>
      
      <div class="nav-right" >
        <nav id="nav-items" class="nav-item level is-mobile" >
          {{partial "toggle" .}}
        </nav>
      </div>
    </nav>



<!--     <nav class="nav">
      {{ if (isset .Site.Params "sections_left" ) }}
      <div class="nav-left">
        {{- range $section, $printable := .Site.Params.sections_left -}}
        {{- if $printable -}}
        <a class="nav-item" href="{{$section}}">
          <h2 class="title is-5">{{$printable}}</h2>
        </a>
        {{- end -}}
        {{- end -}}
      </div>
      {{ end }}

      {{ if (isset .Site.Params "sections_right" ) }}
      <div class="nav-right">
        {{- range $section, $printable := .Site.Params.sections_right -}}
        {{- if $printable -}}
        <a class="nav-item" href="{{$section}}">
          <h2 class="title is-5">{{$printable}}</h2>
        </a>
        {{- end -}}
        {{- end -}}
      </div>
      {{ end }}
    </nav> -->
      <script src="/js/navicon-shift.js"></script>
</section>