<section class="section">

  <div class="container">
    <nav class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          {{ if .Paginator.HasPrev }}
          <a class="button" href="{{ .Paginator.Prev.URL }}">
            <span class="icon is-small is-marginless">
              {{ partial "svg/icons" "prev" }}
            </span>
            <strong>PREV</strong>
          </a>
          {{ end }}
        </div>
      </div>
      
      <div class="container">
      <nav class="level is-mobile">
      <div class="level">
        <div class="level-item">
        {{ $paginator := .Paginator }}
        {{ if gt $paginator.TotalPages 1 }}
          <ul class="pagination" style="color: white;">
            
            {{ range $paginator.Pagers }}
            {{if eq . $paginator}}
            <li class="pagination-item" style="color:white;">
              <a href="{{ .URL }}">
                {{ .PageNumber }}
              </a>
            </li>
            {{else}}
            <li class="pagination" style="color:white;">
              <a href="{{ .URL }}">
                {{ .PageNumber }}
              </a>
            </li>
            {{end}}
            
            {{ end }}
          
          </ul>
        {{ end }}
      </div>
      </div>
      </nav>
      </div>
      <div class="level-right is-marginless">
        <div class="level-item">
          {{ if .Paginator.HasNext }}
          <a class="button" href="{{ .Paginator.Next.URL }}">
            <strong>NEXT</strong>
            <span class="icon is-small is-marginless">
              {{ partial "svg/icons" "next" }}
            </span>
          </a>
          {{ end }}
        </div>
      </div>
    </nav>
  </div>

</section>

