<style type="text/css">
body.dark-mode a:hover strong{
	color:#3068e8;
}

</style>

<section>
<div style="display:flex;justify-content:space-between; max-width: 100%;flex-wrap: wrap;align-content: center;">
<div class="level-item">
	{{with .PrevInSection}}
		<a class="button" href="{{ .Permalink }}" style="font-size: 15px;font-weight: bold">
			<span class="icon is-small is-marginless">{{ partial "svg/icons" "prev" }}</span>
			{{ .Title }}
		</a>
	{{end}}
</div>
<div class="level-item" style="margin-left: auto;order:1;">
	{{with .NextInSection}}
		<a class="button" href="{{ .Permalink }}" style="font-size: 15px;font-weight: bold">
			{{ .Title }}
			<span class="icon is-small is-marginless">{{ partial "svg/icons" "next" }}</span>
		</a>
	{{end}}
</div>
</div>

</section>