<style type="text/css">

</style>
<div class="container"style="line-height: 2;">

{{ $related_tags := slice}}

{{ $related := .Site.RegularPages.Related . }}

{{ with $related }}

	{{ range . }}

		{{ $related_tags = union $related_tags .Params.tags }}
		
	{{ end }}
	Browse related tags:[
	{{ range $related_tags}}
		{{ $clean_tag := replace (. | lower) " " "-" }}
		<a href="/tags/{{$clean_tag}}" id= "itemtag" class="relatedtag" style="font-size:80% ;font-weight: 100;margin-left: 0;">{{$clean_tag}}</a>		
	{{end}}] or try <a href="/search" id=searchlogo>🔍search</a>

{{ end }}
</div>