
<div id="sign-in" style="margin-top: 2em;margin-bottom: -2em;">
	<form style="display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-around;" action="https://sendy.yizengli.com/subscribe" method="POST" accept-charset="utf-8">
		<p style="font-weight: 510;padding-top: 5px">Getting updates by email!</p>
		<input type="email" name="email" placeholder="domain@example.com" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
		
		<!-- <input style="border-radius: 6px;" type="submit" id="submit" value="SUBMIT"> -->
		<button class="subbtn" id="submit">
			SUBMIT
		</button>
		<input type="hidden" name="list" value="LXqH0yHzTvfMjFPcgvsicQ"/>
		<input type="hidden" name="subform" value="yes"/>

		<div style="display: inline-block;width: text-width;">
		<label for="ML/DL" style="display:flex;flex-wrap: nowrap;">
        	<p style="padding-left: 100px;"></p>
        	<input style="margin-right: 12px;margin-top: 11px" type="checkbox" type="text" name="ML/DL" id="ML/DL"/>
        	<p style="margin-left:-10px;white-space: nowrap; margin-top: 10px;max-width: 100%;font-size: 12px;padding-right: 100px;display: inline-block;">ML/DL only</p>
     	</label>
     	</div>
		
		<p style="font-size: 8px;padding-top: 10px;padding-bottom: 5px;">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
    </form>
</div>