<style type="text/css">

#myownbody {
    height: 10vh;
    max-width: text-width;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: -4em;
    margin-top: 2em;
    border-radius: 10px;
    background-color: #F6F6F2;
}

#myownbody,
#singular-form button,
.container>#singular-form>#input-container>input {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.myowncontainer {
    width: 12rem;
    height: 4rem;
    padding: 10px;
    background-color:#3068e8;
    text-align: center;
    border-radius: 3rem;
    overflow: hidden;
    transition: width .4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

body.dark-mode .myowncontainer {
  background-color: #23ad51;
}

.myowncontainer>#singular-form {
    position: relative;
    width: 100%;
    height: 100%;
    background-color:  #3068e8;
}

body.dark-mode .myowncontainer>#singular-form {
    background-color:  #23ad51;
}

.myowncontainer>#singular-form button {
    width: 9rem;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 3rem;
    cursor: pointer;
}

.myowncontainer>#singular-form>button#trigger {
    padding: 0;
    width: 100%;
    color: #F6F6F2;
    background-color: transparent;
    z-index: 3;
}

.myowncontainer>#singular-form>#input-container {
    z-index: 2;
}

.myowncontainer>#singular-form>#input-container>input {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #3068e8;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 0 26% 0 3%;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease .4s;
}

body.dark-mode .myowncontainer>#singular-form>#input-container>input {
  background-color: #23ad51;
}

.myowncontainer>#singular-form>#input-container>button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #3068e8;
    color: #F6F6F2;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease .4s;
}

body.dark-mode .myowncontainer>#singular-form>#input-container>button {
  background-color: #23ad51;
}

.myowncontainer>#singular-form>#success {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F6F6F2;
    font-weight: bold;
    z-index: 1;
}

.myowncontainer>#singular-form>button#trigger,
.myowncontainer>#singular-form>#input-container,
.myowncontainer>#singular-form>#success {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0);
    opacity: 0;
}

.myowncontainer>#singular-form>button#trigger {
    transition: all .4s ease;
}

.myowncontainer>#singular-form>#input-container {
    transform: scale(1);
    opacity: 1;
    transition: all .4s ease .4s;
}

.myowncontainer>#singular-form>#success {
    transition: all .2s ease .4s;
}

.myowncontainer>#singular-form>button#trigger.shown,
.myowncontainer>#singular-form>#input-container.shown,
.myowncontainer>#singular-form>#success.shown,
.myowncontainer>#singular-form>#input-container>button.shown,
.myowncontainer>#singular-form>#input-container>input.shown {
    transform: scale(1);
    opacity: 1;
    color: #F6F6F2;
}
</style>
<div class="section">
  <div class="container" id="myownbody">

    <div class="myowncontainer">
            <form id="singular-form">
                <button class="shown" type="button" id="trigger">Subscribe</button>
                <div id="input-container">
                    <input type="text" placeholder="domain@email.com">
                    <button type="button">Send</button>
                </div>
              <div id="success">Thank you!</div>
          </form>
      </div>
  </div>
</div>
<script src="{{ "js/subscribe.js" | absURL }}"></script>