
<div id="sign-in" style="margin-top: 2em;margin-bottom: -2em;">
	<form style="display:flex; justify-content:space-around; flex-grow: 1; flex-wrap: nowrap;" action="https://sendy.yizengli.com/subscribe" method="POST" accept-charset="utf-8">
		<input type="email" name="email" placeholder="domain@example.com" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
		<input type="hidden" name="list" value="LXqH0yHzTvfMjFPcgvsicQ"/>
		<input type="hidden" name="subform" value="yes"/>
		<input style="border-radius: 6px;" type="submit" id="submit" value="SUBMIT">
    </form>
</div>