
<div id="sign-in" style="margin-top: 2em;margin-bottom: -2em;">
	<form style="display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-around;" action="https://sendy.yizengli.com/subscribe" method="POST" accept-charset="utf-8">
		<p style="font-weight: 510;padding-top: 5px">Getting updates by email!</p>
		<input type="email" name="email" placeholder="domain@example.com" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
		
		<!-- <input style="border-radius: 6px;" type="submit" id="submit" value="SUBMIT"> -->
		<input type="hidden" name="list" value="LXqH0yHzTvfMjFPcgvsicQ"/>
		<input type="hidden" name="subform" value="yes"/>
		<button class="subbtn" id="submit">
			SUBMIT
		</button>
		<p style="font-size: 8px;padding-top: 5px;padding-bottom: 5px;">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
    </form>
</div>