<style type="text/css">
  
.check-list {
  margin: 0;
  padding-left: 0em;
  font-size: 16px;
}

.check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
}

.check-list li a{
  color:#3068e8;
  background-color: #F3F3F3;
  padding: 1px;
  border-radius: 3px;
}

.check-list li a:hover{
  color:#F3F3F3;
  background-color: #3068e8;
  padding: 1px;
  border-radius: 3px;
}

body.dark-mode .check-list li a{
  background-color: #7D7C7C;
  color:#F3F3F3;
}


body.dark-mode .check-list li a:hover{
  background-color: #23ad51;
  color:#F3F3F3;
}


.check-list li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #23ad51;
    transform-origin: bottom left;
    transform: rotate(45deg);
}

.uncheck-list {
  margin: 0;
  padding-left: 0em;
  font-size: 16px;
}

.uncheck-list li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
}

.uncheck-list li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: transparent;
    transform-origin: bottom left;
    transform: rotate(45deg);
}

</style>
 
<section class="section" style="margin-top: -2em">
  <div class="container" style="display: flex;flex-direction: column; flex-wrap: nowrap;margin-top: -1.5em;">
    <ul class="uncheck-list">
      <li>Working on posting a series about <a href="/tags/GAN">GAN</a> and <a href="/tags/BERT">BERT</a> in <a href="/tags/seq2seq">seq2seq</a> modeling.</li>
    </ul>
    <ul class="check-list" style="opacity: 0.5">
      <li>Post an introduction series for <a href="/tags/word2vec/">word2vec</a> including <a href="/posts/introduction-to-word2vec/part1">Part 1</a> and <a href="/posts/introduction-to-word2vec/part2">Part 2</a>. </li>
      <li >Develop the layout of blog and deploy it on <a href="https://github.com/yizenglistat/blog">Github</a>. </p></li>
    </ul>
  </div>
</section>