<style type="text/css">
  
#card {
  position: relative;
  width: 320px;
  display: block;
  margin: 40px auto;
  text-align: center;
}
#upper-side {
  padding: 2em;
  background-color: #b3b300;
  display: block;
  opacity: 0.9;
  color: #fff;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

#contBtn {

  position: relative;
  top: 1.5em;
  text-decoration: none;
  background-color: #b3b300;
  color: #fff;
  margin: auto;
  padding: .8em 3em;
  -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  border-radius: 25px;
  -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}


#checkmark {
  font-weight: lighter;
  fill: #fff;
  margin: -3.5em auto auto 20px;
}

#status {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
  margin-top: -.2em;
  margin-bottom: 0;
}

#lower-side {
  padding: 2em 2em 5em 2em;
  background: #353535;
  display: block;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

body.dark-mode #lower-side {
  background: #F6F6F2;
  opacity: 0.8;
}


#message {
  margin-top: -.5em;
  color: #F6F6F2;
  letter-spacing: 1px;
} 
body.dark-mode #message {
  color: #232b2b;
}
#contBtn:hover {
  -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
  -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
  box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
  -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
  background: #3068e8;
}
</style>

<div id='card' class="animated fadeIn" style="margin-bottom:0px">
  <div id='upper-side'>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 5.177l8.631 15.823h-17.262l8.631-15.823zm0-4.177l-12 22h24l-12-22zm-1 9h2v6h-2v-6zm1 9.75c-.689 0-1.25-.56-1.25-1.25s.561-1.25 1.25-1.25 1.25.56 1.25 1.25-.561 1.25-1.25 1.25z"/></svg>
      <h3 id='status' style="margin-top: 1em">Warning</h3>
  </div>
  
  <div id='lower-side'>
    <p id='message'>
      Confirmation?, You have already successfully subscribed!
    </p>
    <a href="/" id="contBtn">Home↵</a>
  </div>
</div>




