{{ partial "header" . }}
{{ partial "nav" . }}

<section class="section" style="margin-bottom: 0em; margin-top: -3em">
	<div class="container">
		<hr style="margin-top: -2em;margin-bottom: 2em">
		<h1 class= "title is-3">📬 Newsletter<h1>
		<p style="font-size: 17px">Try to navigate via <a href="/search" id=searchlogo><svg xmlns="http://www.w3.org/2000/svg" class="svg-fill" width="12" height="12" viewBox="0 0 24 24"><path d="M23.111 20.058l-4.977-4.977c.965-1.52 1.523-3.322 1.523-5.251 0-5.42-4.409-9.83-9.829-9.83-5.42 0-9.828 4.41-9.828 9.83s4.408 9.83 9.829 9.83c1.834 0 3.552-.505 5.022-1.383l5.021 5.021c2.144 2.141 5.384-1.096 3.239-3.24zm-20.064-10.228c0-3.739 3.043-6.782 6.782-6.782s6.782 3.042 6.782 6.782-3.043 6.782-6.782 6.782-6.782-3.043-6.782-6.782zm2.01-1.764c1.984-4.599 8.664-4.066 9.922.749-2.534-2.974-6.993-3.294-9.922-.749z"/></svg> search</a> or <a href="/tags/" id=searchlogo style="padding: 3px;">tags</a> or you could send me an <a id=searchlogo style="padding: 3px;" href="mailto:yizeng@yizengli.com?subject=error for your site sir">email</a> to report it!</p>

    	{{partial "error.html" .}}

	</div>

</section>

<section class="section" style="opacity: 0.5">
	<div class="container" style="display: flex;justify-content: center; max-width: text-width;">
		<a class="button" id= "sortbtn_active" href="/newsletter/"> NEW </a> <a href="/popular/" id= "sortbtn" class="button"> TOP </a>
	</div>	
</section>

<section class="section" style="margin-top: -3em;opacity: 0.5">
	<div class="container">
    {{ range first 3 (sort .Site.RegularPages.ByDate.Reverse) }}
    <article>
      <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}{{ partial "taxonomies_count" . }}</a>{{ if .Draft }} [draft]{{ end }}</h1>
      <h2 class="subtitle tags is-6">
        {{ .Date.Format "Jan 2, 2006" }}
        ⏱ {{ math.Round (div (countwords .Content) 220.0) }} min
        {{ if .Params.tags }}
        <span class="icon is-small is-marginless">{{ partial "svg/icons" "tag" }}</span>
        {{ partial "tags" .Params.tags }}
        {{ end }}
        <p class="series">
        {{ if .Params.categories }}
        <span class="icon is-small is-marginless">{{ partial "svg/icons" "category" }}</span>
        {{ partial "categories" .Params.categories }}
        {{ end }}
        </p>
      </h2>
      
      <div class="content" style="opacity: 0.5;margin-top: -1em;">
        {{ .Summary | plainify | safeHTML }}
        {{ if .Truncated }}
        <a class="button is-link" href="{{ .Permalink }}" style="height:28px">
          Read
        </a>
        {{ end }}
      </div>
    </article>
    {{end}}
	</div>
</section>

{{ partial "footer" . }}