{{ partial "header" . }}
{{ partial "nav" . }}

<section class="section" >
  <div class="container">
    {{- $pages := . -}}
    {{- if .IsHome -}}
    {{- $pages = .Site.RegularPages -}}
    {{- else -}}
    {{ $pages = .Pages -}}
    {{- end -}}
    {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
    {{ range sort .Paginator.Pages.Reverse }}
    {{if ne .Title "Search"}}
    <article>
      <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}{{ partial "taxonomies_count" . }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
      <h2 class="subtitle tags is-6">
        {{ .Date.Format "Jan 2, 2006" }}
        ⏱{{ math.Round (div (countwords .Content) 220.0) }} min
        {{ if .Params.tags }}
        <span class="icon is-small is-marginless">{{ partial "svg/icons" "tag" }}</span>
        {{ partial "tags" .Params.tags }}
        {{ end }}
        <p class="series">
        {{ if .Params.categories }}
        <span class="icon is-small is-marginless">{{ partial "svg/icons" "category" }}</span>
        {{ partial "categories" .Params.categories }}
        {{ end }}
        </p>
      </h2>
      
      <div class="content">
        {{ .Summary | plainify | safeHTML }}
        {{ if .Truncated }}
        <a class="button is-link" href="{{ .Permalink }}" style="height:28px">
          Read
        </a>
        {{ end }}
      </div>
      
    </article>
    {{end}}
    {{ end }}
<!--   {{ if and (.Site.Params.Info.adsense) (.Params.adsenseTop) }}
  {{ partial "adsense" . }}
  {{ end }} -->
  </div>

</section>
{{ partial "pager" . }}

{{ partial "footer" . }}