{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    <hr style="margin-top: -5em; margin-bottom:2em">

    {{$tmp := ""}}

      {{range $key, $val := (split .Name " ")}}
        {{$a := (substr $val 0 1 | upper)}}
        {{$b := (substr $val 1)}}
        {{$c := printf "%s" $b | printf "%s%s" $a | printf "%s" }}
        {{$tmp = printf "%s " $c | printf "%s%s" $tmp | printf "%s"}}
      {{end}}

      <div style="margin-bottom: 1.5em;display: flex;justify-content: space-between;">  
    <h1 class= "title is-3"><svg class="svg-fill" style="margin-bottom: -3px" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M0 2h8l3 3h10v4h3l-4 13h-20v-20zm22.646 8h-17.907l-3.385 11h17.907l3.385-11zm-2.646-1v-3h-9.414l-3-3h-6.586v15.75l3-9.75h16z"/></svg> {{$tmp}}</h1>

    <a href="/categories/" class="button" style="display: flex;margin:0;padding: 3px;font-size: 18px;">Series ↵ </a>
    </div>

    {{ $paginator := .Paginate (where .Data.Pages "Params.hidden" "ne" true) }}
    {{ range sort .Paginator.Pages }}
    <article>
      <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
      <h1 class="subtitle tags is-6">
        {{ .Date.Format "Jan 2, 2006" }}
        ⏱ {{ math.Round (div (countwords .Content) 220.0) }} min
        {{ if .Params.tags }}
        <span class="icon is-small is-marginless">{{ partial "svg/icons" "tag" }}</span>
        {{ partial "tags" .Params.tags }}
        {{ end }}
        {{ if .Params.categories }}
        <span class="icon is-small is-marginless">{{ partial "svg/icons" "category" }}</span>
        {{ partial "categories" .Params.categories }}
        {{ end }}
        {{if .Params.code}}
        <span class="icon is-small is-marginless">{{ partial "svg/icons" "github" }}</span>
        <a class = "subtitle is-6" href= {{.Params.code}}>code</a>
        {{end}}
      </h1>
      <div class="content" id="mysummary" style="margin-top: -1em;">
        {{ .Summary | plainify | safeHTML }}
        {{ if .Truncated }}
        <a class="button is-link" href="{{ .Permalink }}" style="height:28px">
          Read
        </a> 
        {{ end }}
      </div>
    </article>
    {{ end }}
  </div>
</section>
{{ partial "pager" . }}
{{ partial "footer" . }}
