{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section" style="margin-top: -2.3em;">
  <div class="container">
      {{$tmp := ""}}

      {{range $key, $val := (split .Name " ")}}
        {{$a := (substr $val 0 1 | upper)}}
        {{$b := (substr $val 1)}}
        {{$c := printf "%s" $b | printf "%s%s" $a | printf "%s" }}
        {{$tmp = printf "%s " $c | printf "%s%s" $tmp | printf "%s"}}
      {{end}}

      <div style="margin-top: -1em;margin-bottom: 0em;display: flex;justify-content: space-between;">  
    <h1 class= "title is-3"><svg class = "svg-fill" style="margin-bottom: -5px;margin-right: -3px" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12.434 22.586l7.859-7.858.707.707-8.565 8.565-.001-.001v.001l-12.434-12.434.707-.707 11.727 11.727zm-.033-1.7l-12.401-12.405v-8.481h8.441l12.445 12.401-8.485 8.485zm-4.373-19.886h-7.028v7.067l11.401 11.405 7.07-7.07s-7.534-7.506-11.443-11.402zm-1.598 2.594c.78.78.78 2.048 0 2.828-.781.781-2.048.781-2.829 0-.78-.78-.78-2.048 0-2.828.781-.781 2.048-.781 2.829 0zm-.707.707c.39.39.39 1.024 0 1.414-.391.39-1.024.39-1.414 0-.391-.39-.391-1.024 0-1.414.39-.39 1.023-.39 1.414 0z"/></svg> {{$tmp}}</h1>

    <a href="/tags/" class="button" style="font-weight:bold;display: flex;margin:0;padding: 3px;font-size: 18px;">Tags ↵</a>
    </div>

    {{ $paginator := .Paginate (where .Data.Pages "Params.hidden" "ne" true) }}
    {{ range sort .Paginator.Pages }}
    <article>
      <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
      <h1 class="subtitle tags is-6">
        {{ .Date.Format "Jan 2, 2006" }} • 
        <svg xmlns="http://www.w3.org/2000/svg" class="svg-fill" style="margin-left: 2px;margin-right: 2px;margin-bottom: -3px" width="15" height="15" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm5.848 12.459c.202.038.202.333.001.372-1.907.361-6.045 1.111-6.547 1.111-.719 0-1.301-.582-1.301-1.301 0-.512.77-5.447 1.125-7.445.034-.192.312-.181.343.014l.985 6.238 5.394 1.011z"/></svg> {{ math.Round (div (countwords .Content) 220.0) }} min
        {{ if .Params.tags }}
        <span class="icon is-small is-marginless">{{ partial "svg/icons" "tag" }}</span>
        {{ partial "tags" .Params.tags }}
        {{ end }}
        {{ if .Params.categories }}
        <span class="icon is-small is-marginless">{{ partial "svg/icons" "category" }}</span>
        {{ partial "categories" .Params.categories }}
        {{ end }}
        {{if .Params.code}}
        <span class="icon is-small is-marginless">{{ partial "svg/icons" "github" }}</span>
        <a class = "subtitle is-6" href= {{.Params.code}}>code</a>
        {{end}}
      </h1>
      <div class="content" id="mysummary" style="margin-top: -1em;">
        {{ .Summary | plainify | safeHTML }}
        {{ if .Truncated }}
        <p><a class="button is-link" href="{{ .Permalink }}" style="margin-left:0px;padding: 0;height:28px">
          Read
        </a></p> 
        {{ end }}
      </div>
    </article>
    {{ end }}
  </div>
</section>
<!-- {{ partial "pager" . }} -->
{{ partial "footer" . }}
